.side-bar{
    background-color: lightcoral;
    /* width: 100%; */
}
/* .side {
    list-style-type: none;
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    top: 0;
    background-color: khaki;
} */

.side > li {
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    /* background-color: #EDEAE4; */
}

