.weather-page {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(../..//images/ren.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #000000;
}

.myDiv{
    position: absolute;
    top:15%;
    height: 20px;
    background-color: rgba(168, 32, 68, 0.87);
}

.char{
    position: absolute;
    top: 30%;
    margin: auto;
    width: 1000px;
    height: 500px;
    background-color: rgba(31, 168, 147, 0);
}