.wardrobe-page {
    background-color: rgba(255, 255, 255, 0.795);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.add-fit {
    width: 100%;
    bottom: 25px;
    text-align: center;
    padding-top: 45px;
}

#fit-pic {
    height: 200px;
    padding: 15px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fit-name {
    text-decoration: underline;
    font-size: 50px;
    /* margin-bottom: 20px; */
    padding-left: 1rem;
    padding-right: 1rem;
}

#hang {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.swiper-button-next, .swiper-button-prev{
    color: black;
}

:root {
    --slideNum: 3;
}


@media screen and (max-width: 540px) {
    :root {
        --slideNum: 1;
    }
    #fit-pic {
        margin: 0;
        padding: 0;
    }
    .add-fit {
        padding-top: 25px;
    }
}

