@font-face {
  font-family: apercu-bold;
  src: url(./fonts/Apercu/Apercu\ Pro\ Bold.otf);
}

@font-face {
  font-family: apercu-medium;
  src: url(./fonts/Apercu/Apercu\ Pro\ Medium.otf);
}

@font-face {
  font-family: apercu;
  src: url(./fonts/Apercu/Apercu\ Pro\ Regular.otf);
}

@font-face {
  font-family: rais;
  src: url(./fonts/Raisonne/Raisonne.otf);
}

*{
  font-family: apercu;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

* > h1 {
  font-family: apercu-bold;
  color: #28282a;
  position: relative;
}

* > h2, h3 {
  font-family: apercu-medium;
  color: #28282a;
}

* > h5, p, button, li {
  color: #28282a;
  font-family: rais;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover State */
h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #fcf3ed;
  z-index: -1;
  transition: transform .3s ease;
}

/* Pop Up */
.how {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.info-pop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.info-pop > ul {
  list-style: none;
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 5rem;
}

@media screen and (max-width: 540px) {
  body {
    overflow-y: scroll;
  }
}